extends layout_common

block content
  script(type="module" src='./javascripts/main.js')

  nav.nav-extended(style="background-color: #91C1AA;")
    .nav-wrapper(style="height: 100px;")
      img.brand-logo#Logo.right(src='images/childshare_5.png', alt='Logo', style="height: 300px;")
      ul.left.hideonmed-and-down#nav-mobile(style="height: 100%;")
        li.navTitle(style="height: 100%; margin-left: 200px;") Mission
        li.navTitle(style="height: 100%; margin-left: 200px;") About Us
        li.navTitle.active(style="height: 100%; margin-left: 200px;") Get Matched
        li.navTitle(style="height: 100%; margin-left: 200px;") Profile

  body
    .container
      .row.valign-wrapper
        .col.s2(style="font-size: 2em; margin-top: 20px;") Date Needed
        .col.s2.i.material-icons#dateLeft(style="font-size:10em") keyboard_arrow_left
        .col.s4.center#dateShown(style="font-size:2em")
        .col.s4.i.material-icons#dateRight(style="font-size:10em") keyboard_arrow_right
      .row
        #scriptList

      <header>
      <h1>Community Chat</h1>
      </header>

      <section class="chat">
        <p><strong>Pepito</strong>: It takes a community to...</p>
        <p><strong>Priscilla</strong>: raise a child！</p>
      </section>

      <form>
        <input type="text" placeholder="Say something nice" />
        <button>Send</button>
      </form>

      <!-- Include jquery, cookies, socket.io (client-side) and your own code -->
      <script src="https://unpkg.com/socket.io-client@2/dist/socket.io.slim.js"></script>
      <script src="javascript.js"></script>

  footer
    .footer-copyright(style="margin-top: 50px;")
      p.footerText 2019 ChildShare

