extends layout_common

block content
  script(type="module" src='./javascripts/provideTime.js')

  nav.nav-extended(style="background-color: #91C1AA;")
    .nav-wrapper(style="height: 100px;")
      img.brand-logo#Logo.right(src='images/childshare_5.png', alt='Logo', style="height: 300px; margin-top: 20px;")
      ul.left.hideonmed-and-down#nav-mobile(style="height: 100%;")
        li.navTitle(style="height: 100%;") 
          a.valign-wrapper(href="home" style="height: 100%; font-size: 22px;") Home
        li.navTitle(style="height: 100%;")
          a.valign-wrapper(href="aboutUs" style="height: 100%; font-size: 22px;") About Us
        li.navTitle(style="height: 100%;")
          a.valign-wrapper(href="/" style="height: 100%; font-size: 22px;") Get Matched
        li.navTitle.active(style="height: 100%;")
            a.valign-wrapper(href="provideTime" style="height: 100%; font-size: 22px;") Contribute Your Time
        li.navTitle(style="height: 100%;")
          a.valign-wrapper(href="profile" style="height: 100%; font-size: 22px;") Profile


  body
    .container
      .row.center(style="margin-top: 40px")
        h4 Provide Child Share
      .row.center(style="margin-top: 20px")
        .col.s2
         <div style="padding-top: 20px;"><strong>Start Time</strong></div>
        .col.s4
          <input type="text" class="datepicker" id="datepicker">
        .col.s4
          <input type="text" class="timepicker" id="timepicker" placeholder = "select time">

      .row.center(style="margin-top: 20px")
        .col.s2
         <div style="padding-top: 20px;"><strong>End Time</strong></div>
        .col.s4
          <input type="text" class="datepicker" id="datepicker2">
        .col.s4
          <input type="text" class="timepicker" id="timepicker2" placeholder = "select time"> 

        .col.s2
            button#submitTime.saveButton.btn.waves-effect.waves-light SUBMIT
              i.material-icons.right search

      .row(style="margin-top: 40px")
        #scriptList

      <h1>Community Chat</h1>

      <section class="chat" style="height: 200px">
        <p><strong>Pepito</strong>: It takes a community to...</p>
        <p><strong>Priscilla</strong>: raise a child！</p>
      </section>

      <form>
        <input type="text" placeholder="Say something nice" />
        <button>Send</button>
      </form>

      <script src="https://unpkg.com/socket.io-client@2/dist/socket.io.slim.js"></script>
      <script src="javascript.js"></script>

  footer
    .footer-copyright(style="margin-top: 50px;")
      p.footerText 2019 ChildShare

